<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,51}</string>
                <key>spriteSourceSize</key>
                <string>{74,51}</string>
                <key>textureRect</key>
                <string>{{147,1},{74,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,57}</string>
                <key>spriteSourceSize</key>
                <string>{144,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{222,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84275ed6965849f1265e0e3feeb4b1e2:83786d8f374213f81a692c3496afac83:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
